<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %5p %c{1.}:%L %m%n" />
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601} %5p %c{1.}:%L %m%n" />
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" />
            </Filters>
        </Console>
    </Appenders>

    <Loggers>
        <!-- restrict default log level -->
        <Root level="warn">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="stderr" />
        </Root>
        <!-- but always log iteration start/end -->
        <Logger name="org.matsim.core.controler.AbstractController" level="info">
        </Logger>
        <!-- and enable detailed logging for DRS -->
        <Logger name="at.ac.ait.matsim" level="info">
        </Logger>
    </Loggers>

</Configuration>
